.about {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    font-size: 1.3em;
}

.photo {
    width: 75%;
}

#photo-gallery {
    display: flex;
    font-size: .75em;
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
}

.img-container {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 100%;
}

#stepthrough {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .about {
        font-size: x-small;
    }
}