h1 {
  font-weight: 900;
  font-size: 2.4rem;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2em;
  background-color: transparent;
  min-height: 100vh;
}

.contact-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 0.17em solid white;
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.9em;
  margin-top: .5em;
  width: 40vw;
  min-width: 17em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-flow: column wrap;
  font-family: 'Libre Baskerville', serif;
  margin-top: 0.63em;
  margin-bottom: 0.32em;
}

.input-text {
  font-family: 'Libre Baskerville', serif;
  font-size: 0.94rem;
  color: #000;
  background-color: white;
  width: 33vw;
  min-width: 16.5em;
  margin: 0.5em 0;
  padding: 1em;
  border: 0.17em solid #4c0181;
}

#message {
  font-family: 'Libre Baskerville', serif;
  font-size: 0.94rem;
  background-color: white;
  color: #000;
  border: 0.17em solid #4c0181;
  width: 33vw;
  min-width: 16.5em;
  margin: 0.5em 0;
  padding: 1em;
}

::placeholder {
  font-family: 'Libre Baskerville', sans-serif;
}

button {
  background-color: black;
  color: white;
  font-size: 0.94rem;
  padding: 0.63em 0.94em;
  border: none;
  margin: 0.2em 0;
  width: 8.75em;
  cursor: pointer;
}

button:hover {
  background-color: #4c0181;
}

button:active {
  background-color: black;
}
  