@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: monospace, arial, sans-serif;
    text-align: center;
    background: linear-gradient(-45deg, #000, #000, #1c96fa, #000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
    width: 100%;
}

.head { grid-area: head; }
.left { grid-area: left; }
.skills { grid-area: skills; }
.right { grid-area: right; }

.wrapper {
    width: 100%;
    display: grid;
    grid-template-areas:
        'head head head head head head'
        'left left skills skills right right'
        'left left skills skills right right'
        'foot foot foot foot foot foot';
    gap: 10px;
    padding: 10px;
}

footer {
    grid-area: foot;
    position: absolute;
    bottom: 10px;
    width: 99%;
    overflow: hidden;
    padding: 0.5em;
}

footer > i {
    padding-right: 5px;
}

footer > i:hover {
    color: #4c0181;
    font-size: 100px;
    transform: scale(1.1);
}

/* NAV MENU */
.topnav {
    position: relative;
    width: 100%;
}
  
.topnav #myLinks {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    font-size: large;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
    display: block;
}

.topnav a.icon {
/* background: black;
display: block; */
position: absolute;
right: 0;
top: 0;
}

.active {
color: white;
/* float: left; */
}

.text{
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.text:hover {
    color: #1c96fa;
}
/* End Nav*/

.floating1 {
    width: 2%;
    position:absolute;
    top:100px; bottom:100px; left:100px;right:100px;
    overflow:hidden;
    margin:auto;
    animation: floating 5.5s linear infinite;
}

.floating2 {
    width: 2%;
    position:absolute;
    top:100px; bottom:100px; left:100px;right:100px;
    overflow:hidden;
    margin:auto;
    animation: floating 6s linear infinite;
}

.floating3 {
    width: 2%;
    position:absolute;
    top:100px; bottom:100px; left:100px;right:100px;
    overflow:hidden;
    margin:auto;
    animation: floating 6.5s linear infinite;
}

.floating4 {
    width: 2%;
    position:absolute;
    top:100px; bottom:100px; left:100px;right:100px;
    overflow:hidden;
    margin:auto;
    animation: floating 7s linear infinite;
}

.floating5 {
    width: 2%;
    position:absolute;
    top:100px; bottom:100px; left:100px;right:100px;
    overflow:hidden;
    margin:auto;
    animation: floating 7.5s linear infinite;
  }
  
.floating6 {
    width: 2%;
    position:absolute;
    top:100px; bottom:100px; left:100px;right:100px;
    overflow:hidden;
    margin:auto;
    animation: floating 8s linear infinite;
}
  
.floating7 {
    width: 2%;
    position:absolute;
    top:100px; bottom:100px; left:100px;right:100px;
    overflow:hidden;
    margin: auto;
    animation: floating 8.5s linear infinite;
}

.floating-gopher { 
    max-width: 100%;
    animation-name: wizard;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes wizard {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes floating {
    0%{
      transform:rotate(0deg)
                translate(-155px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-155px)
                rotate(-360deg);
    }
  }

