body {
    margin: 0;
    padding: 0;
    background-image: url('../resources/nino.png'); 
    background-size: cover;
}

.desktop {
    width: 100%;
    height: 100vh;
    position: relative;
}

.window {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.6);  /* See-through dark background */
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.4),  /* Horizontal shadow, Vertical shadow, Blur, Spread, Color */
        0 2px 8px rgba(255, 255, 255, 0.4),  /* Top Shadow for 3D effect */
        inset 0 0 10px rgba(0, 0, 0, 0.2);  /* Inner shadow */
    color: #00FF00; /* Terminal-like text color */
    font-family: 'Courier New', Courier, monospace; /* Terminal-like font */
    overflow: auto;
	padding: 5px;
}

.title-bar {
    background-color: #0078D7;
    color: #0078D7;
    padding: 5px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.4),  /* Horizontal shadow, Vertical shadow, Blur, Spread, Color */
        0 1px 8px rgba(255, 255, 255, 0.4),  /* Top Shadow for 3D effect */
        inset 0 0 10px rgba(0, 0, 0, 0.2);  /* Inner shadow */
}

a {
    color: white;
}

#cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: #00ff00;
    animation: blink 1s steps(1) infinite;
}

.footer {
		color: white;
		padding-left: 10px;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

/* Responsive styles */
@media (max-width: 1024px) {
    .window {
      width: 85%;
      height: 85%;
    }
  }
  
  @media (max-width: 768px) {
    .window {
      top: 2%;
      left: 2%;
      width: 96%;
      height: 96%;
      font-size: 10px;
    }
    .title-bar {
        font-size: 12px;
    }

    pre {
        font-size: 6px;
    }
  }
  
  @media (max-width: 480px) {
    .window {
      top: 1%;
      left: 1%;
      width: 98%;
      height: 98%;
      font-size: 8px;
    }
    .title-bar {
        font-size: 10px;
    }

    pre {
        font-size: 6px;
    }
  }
