/* General page styles */
body {
    background-image: url('../../resources/nino.png'); 
    background-size: cover;
    background-attachment: fixed;
    color: #EAEAEA;  /* Light text color for readability */
    margin: 0;
    padding: 20px;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #0D0D0D; /* Dark background for navbar */
    color: #FFFFFF;  /* White text color */
    padding: 10px 20px;
}

.navbar a {
    color: #FFFFFF;  /* White text color */
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #333333;  /* Slightly lighter background on hover */
}

/* Content Wrapper */
.content {
    margin: auto;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);  /* See-through dark background */
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.4),  /* Horizontal shadow, Vertical shadow, Blur, Spread, Color */
        0 2px 8px rgba(255, 255, 255, 0.4),  /* Top Shadow for 3D effect */
        inset 0 0 10px rgba(0, 0, 0, 0.2);  /* Inner shadow */
    color: #00FF00; /* Terminal-like text color */
    font-family: 'Courier New', Courier, monospace; /* Terminal-like font */
    overflow: auto;
}

/* Header styles */
h1, h2, h3, h4 {
    color: #FFFFFF; /* Pure white color for headings */
}

/* Date styles */
.date {
    font-style: italic;
    color: #B0B0B0; /* Slightly darker text color for less important info */
}

/* Code Block and Inline Code Styles */
pre {
    background-color: #333333;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

code {
    background-color: #333333;
    padding: 2px 4px;
    border-radius: 4px;
    color: #C0C0C0; /* A lighter shade for code */
    font-family: "Courier New", monospace;
}

/* Inline code styling */
p code {
    background-color: #292929;
    color: #E8E8E8;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
